/*
 * Copyright 2013-2018 smartics, Kronseder & Reiner GmbH
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* CSS for dashboard (same height for panels) */
.projectdoc-dashboard-panel-core .panel {
	min-height: 10em;
}

.projectdoc-dashboard-panel-swdev .panel {
	min-height: 15em;
}


/* CSS for homepage (padding of ul) */
.projectdoc-homepage-panel-swdev ul {
	padding-left: 1.5em;
}

.projectdoc-homepage-panel-core ul {
	padding-left: 1.5em;
}

.projectdoc-aside-panel.projectdoc-panel-swdev {
	border-color: #342D7E;
}
.projectdoc-aside-panel.projectdoc-panel-swdev .projectdoc-aside-panel-header {
	background-color: #342D7E;
	border-bottom-color: #342D7E;
	border-bottom-width: 1px;
	color: white;
	border-width: 0px;
}
.projectdoc-aside-panel.projectdoc-panel-swdev .projectdoc-aside-panel-content {
	border-width: 0px;
  background-color: white;
}